@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f9f9f9;
  --secondary: #ffffff;
  --foreground: #f5f5f5;
  --main: #444;
  --muted: #999999;
  --primary: #3b82f5;
  --line: #f1f1f1;
}

.dark {
  --background: #232626;
  --secondary: #323738;
  --foreground:#464b4d ;
  --main: #fefefe;
  --muted: #999999;
  --line: #464b4d;
  --primary: #3b82f5;
}

@theme inline {
  --font-raleway: "Raleway", sans-serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-space: "Space Grotesk", sans-serif;
  --font-bbh: "BBH Hegarty", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-main: var(--main);
  --color-muted: var(--muted);
  --color-line: var(--line);
  --color-primary: var(--primary);
}

*{
  @apply outline-none
}

body {
 @apply bg-background text-main font-sans;
}

.main {
  @apply max-w-[95%] 2xl:max-w-[1280px] mx-auto;
}

.layout {
  @apply max-w-[90%] md:max-w-[700px] mx-auto;
}

.center {
  @apply flex items-center justify-center;
}

button,
.btn {
  @apply cursor-pointer text-sm font-space flex items-center justify-center gap-2 disabled:opacity-50 font-semibold;
}

.btn-primary {
  @apply text-white bg-gradient-to-r from-red-600 via-red-500 to-red-800 font-semibold ;
}

.hide-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  @apply hidden;
}

